.header {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__container {
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  padding: 0 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
